.github {
  text-decoration: none;
}
.hr2 {
  border: 1.5px solid #333131;
  width: 100px;
}

hr:not([size]) {
  height: 1px;
}
.hr2 {
  border: 1.5px solid #333131;
  width: 100px;
}
.hr1 {
  border: 1px solid rgba(0, 183, 255, 0.993);
  width: 70px;
}
.hr1,
.hr2 {
  margin-left: auto;
  margin-right: auto;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
