.github{
    text-decoration: none;
}
.hr2{
    border: 1.5px solid #333131;
    width: 100px;
}

hr:not([size]) {
    height: 1px;
}
.hr2 {
    border: 1.5px solid #333131;
    width: 100px;
}

.hr2 {
    margin-left: auto;
    margin-right: auto;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
.notice-img{
    cursor: pointer;
    height: 350px !important;
}
.notice-div{
    height: 500px !important;
}