.nav-ber{
    width: 100%;
}

.menu-link{
    text-decoration: none;
}

.my-nav a h5{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

.nav-link{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}