.app{
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.menu-link{
    text-decoration: none;
    font-size: 23px;
}
.my-nav a span{
    font-size: 20px;
    font-weight: 500;
    font-family: Tahoma,sans-serif;
}

.kphs{
    height: 150px;
    width: 150px;
}
